<form id="identity_form">
	<div class="container animated fadeInDown" style="margin-top:20px;">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

				<div class="black-glass pad15">
					<div class="form-group text-left">
						<label for="name"> Scan Vaccine Tag or Enter Id </label>
						<input type="text" name="id" id="id" class="form-control input-md" placeholder="Enter Id" required>
					</div>
					<button id="save_button" type="submit" class="btn btn-primary btn-block">
						Search
					</button>
				</div>

				<p id="scan-ready" style="color:white;padding:10px 0px; text-align: center;">
					&mbsp;
				</p>
			</div>
		</div>
	</div>
</form>
<script>
	readData();
	//$('body').trigger('enable-nfc-read');
	$('#save_button').click(function() {
		if ($('#id').val()) {
			var string = $('#id').val();
			search(string);
			return false;
		}
	});
	var data = JSON.parse(LS.get_data('data'));
	function search(string) {
		//string = string.replace('en', '');
		string = string.substring(string.indexOf('en') + 2, string.length);
		string = string.replace(/\s+/g, '');
		string.trim();

		var event = $.grep(data, function(event, event_index) {
			return event.id == string;
		});
		//alert(string + "<-Searching->" + JSON.stringify(event));
		LS.set_data('search_item', event);
		$('body').trigger('vertical-screen');
	}
</script>

