<style type="text/css">
	.timeline {
		list-style: none;
		padding: 20px 0 20px;
		position: relative;
	}

	.timeline:before {
		top: 0;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 1px;
		background-color: white;
		left: 50%;
		margin-left: -1.5px;
	}

	.timeline > li {
		margin-bottom: 20px;
		position: relative;
	}

	.timeline > li:before, .timeline > li:after {
		content: " ";
		display: table;
	}

	.timeline > li:after {
		clear: both;
	}

	.timeline > li:before, .timeline > li:after {
		content: " ";
		display: table;
	}

	.timeline > li:after {
		clear: both;
	}

	.timeline > li > .timeline-panel {
		width: 46%;
		float: left;
		border: 2px solid #fff;
		border-radius: 2px;
		padding: 10px;
		position: relative;
		-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
		background: rgba(255, 255, 255, 0.8);
	}

	.timeline > li > .timeline-panel:before {
		position: absolute;
		top: 26px;
		right: -15px;
		display: inline-block;
		border-top: 15px solid transparent;
		border-left: 15px solid #ccc;
		border-right: 0 solid #ccc;
		border-bottom: 15px solid transparent;
		content: " ";
	}

	.timeline > li > .timeline-panel:after {
		position: absolute;
		top: 27px;
		right: -14px;
		display: inline-block;
		border-top: 14px solid transparent;
		border-left: 14px solid #fff;
		border-right: 0 solid #fff;
		border-bottom: 14px solid transparent;
		content: " ";
	}

	.timeline > li > .timeline-badge {
		color: #000;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 1em;
		text-align: center;
		position: absolute;
		top: 16px;
		left: 50%;
		margin-left: -25px;
		background-color: #999999;
		z-index: 100;
		border-top-right-radius: 50% !important;
		border-top-left-radius: 50% !important;
		border-bottom-right-radius: 50% !important;
		border-bottom-left-radius: 50% !important;
		border: 1px solid white;
		-webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);
		box-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);
	}

	.timeline-badge > i {
		margin-top: 15px;
	}

	.timeline > li.timeline-inverted > .timeline-panel {
		float: right;
	}

	.timeline > li.timeline-inverted > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}

	.timeline > li.timeline-inverted > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}

	.timeline-badge.primary {
		background-color: #2e6da4 !important;
	}

	.timeline-badge.success {
		background-color: #3f903f !important;
	}

	.timeline-badge.warning {
		background-color: #f0ad4e !important;
	}

	.timeline-badge.danger {
		background-color: #d9534f !important;
	}

	.timeline-badge.info {
		background-color: #5bc0de !important;
	}

	.timeline-title {
		margin-top: 0;
		color: white;
		background: #0088CC;
		padding: 5px 10px;
		font-weight: 300;
		letter-spacing: 2px;
		font-family: Verdana;
		border: 1px solid black;
	}

	.timeline-body > p, .timeline-body > ul {
		margin-bottom: 0;
	}

	.timeline-body > p + p {
		margin-top: 5px;
	}
	@media (max-width: 767px) {
		ul.timeline:before {
			left: 40px;
		}
		ul.timeline > li > .timeline-panel {
			width: calc(100% - 90px);
			width: -moz-calc(100% - 90px);
			width: -webkit-calc(100% - 90px);
		}
		ul.timeline > li > .timeline-badge {
			left: 15px;
			margin-left: 0;
			top: 16px;
		}
		ul.timeline > li > .timeline-panel {
			float: right;
		}
		ul.timeline > li > .timeline-panel:before {
			border-left-width: 0;
			border-right-width: 15px;
			left: -15px;
			right: auto;
		}
		ul.timeline > li > .timeline-panel:after {
			border-left-width: 0;
			border-right-width: 14px;
			left: -14px;
			right: auto;
		}
	}
</style>
<div class="container animated fadeInDown" style="margin-top: 60px;">
	<h1 class="text-center" style="color:white;">Vaccine timeline</h1>
	<ul class="timeline" id="vertical_timeline"></ul>
</div>
<div id="vertical_template" style="display: none;">
	{{#rows}}
	<li class="{{tlcss}}">
		{{{badge}}}
		<div class="timeline-panel">

			<div class="timeline-heading">
				<h4 class="timeline-title">{{name}}</h4>
			</div>
			<div class="timeline-body">
				<ul style="text-align: left;padding:20px;margin-bottom: 20px;" class="fa-ul">
					<li>
						Vaccine Name : <span style="letter-spacing: 1px;font-weight: bold">{{vaccination}}</span>
					</li>
					<li>
						Date : <span style="letter-spacing: 1px;font-weight: bold">{{dob}}</span>
					</li>
				</ul>
			</div>

		</div>
	</li>
	{{/rows}}
</div>
<script type="text/javascript">
	var si_data = JSON.parse(LS.get_data('search_item')), si_array = [];
	si_data.forEach(function(entry) {
		var si_obj = {};
		si_obj['tlcss'] = 'timeline-inverted';
		si_obj['badge'] = '<div class="timeline-badge info">' + entry.id + '</div>';
		si_obj['name'] = entry.name;
		si_obj['vaccination'] = entry.vaccination;
		si_obj['dob'] = entry.dob;
		si_array.push(si_obj);
	});
	var vidgalleryTemplate = $('#vertical_template').html();
	var galleryHtml = Mustache.to_html(vidgalleryTemplate, {
		rows : si_array
	});
	$("#vertical_timeline").html(galleryHtml); 
</script>
