<style type="text/css" media="screen">
	#home-h1 {
		color: white;
	}
	.small-para {
		color: white;
		font-size: 14px;
		text-align: center;
		letter-spacing: 2px;
	}
</style>
<div class="container" style="margin-top: 50px;">
	<div class="row">
		<div class="col-xs-12 text-center" >
			<img src="img/RFID_sensor.svg" alt="" width="150" class="animated bounceIn"/>
			<h1 id="home-h1" class="animated zoomIn _2">VTag </h1>
			<p class="small-para animated fadeInUp _3">
				Vaccination Tags
			</p>
		</div>
	</div>
</div>

<script>
	$(function() {
		//$("#homebutton").hide();
	});
</script>