<form id="login_form">
	<div class="container animated fadeInDown" style="margin-top:20px;">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

				<div class="panel panel-info black-glass">
					<p style="letter-spacing: 3px;font-size: 2em;padding:10px;text-align: center">
						<b>ONE</b>&nbsp;FOB
					</p>
				</div>

				<div class="panel black-glass pad-sides-15">

					<div class="panel-body text-left">
						<br />
						<div class="form-group">
							<label for="feedback_title">Enter pasphrase</label>
							<input type="password" name="passphrase" id="passphrase" class="form-control input-md" placeholder="pass phrase here" style="margin-top: 20px" required>
						</div>

						<!-- div class="form-group">
						<label for="feedback_title">Password</label>
						<input type="password" name="password" id="password" class="form-control input-md" placeholder="Password">
						</div -->
						<br />
						<button  id="login_button" type="submit" value="Login" class="btn btn-primary btn-block">
							LOGIN
						</button>

						<p class="text-center">
							<br />
							Need access? <a href="#/login" style="color:yellow;">Request now</a>
						</p>
					</div>
				</div>

				<div class="panel panel-info" style="background: rgba(0,0,0,0.1);border:none;border-radius: 0px;color:white;">
					<p style="letter-spacing: 2px;font-size: .7em;padding:10px;text-align: center">
						Privacy Policy <b>|</b> Terms & conditions
						<br />
						Copyright 2015-16. HW-LABS.
					</p>
				</div>

			</div>
		</div>
	</div>
</form>

<script type="text/javascript" charset="utf-8">
	$(function() {
		$("#homebutton").hide();
		$("#login_button").click(function() {
			var phrase = $("#passphrase").val();
			if (!phrase || phrase.trim().length < 1 || phrase != "111") {
				alert("Not authorized");
			} else {
				window.location.href = "#/home";
			}
		});
	}); 
</script>
