<style>
	#home-screen h4, p {
		color: white;
		text-align: left;
		letter-spacing: 2px;
	}

	#home-screen p {
		color: silver;
	}

	#home-screen h4 {
		letter-spacing: 2px;
		font-family: Quicksand;
	}
</style>

<div class="container" style="margin-top: 50px;" id="home-screen">
	<div class="row">
		<div class="col-xs-12 text-center">
			<div class="media  animated fadeInDown" onclick="$('body').trigger('hide-menu-screen');$('body').trigger('show-register-screen');">
				<i class="btl bt-user bt-3x pull-left" style="color:silver;margin-right: 10px;"></i>
				<div class="media-body">
					<h4 class="media-heading"> REGISTER </h4>
					<p>
						Register a user
					</p>
				</div>
			</div>

			<div class="media  animated fadeInDown _1" onclick="$('body').trigger('hide-menu-screen');$('body').trigger('show-identity-screen');">
				<i class="btl bt-search bt-3x pull-left" style="color:silver;margin-right: 10px;"></i>
				<div class="media-body">
					<h4 class="media-heading"> IDENTIFY </h4>
					<p>
						Identify
					</p>
				</div>
			</div>

		</div>
	</div>
</div>