<div class="container animated fadeInDown" style="margin-top:20px;">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

			<div class="panel panel-info black-glass">
				<p id="register-header" style="letter-spacing: 3px;font-size: 2em;padding:10px;text-align: center">
					<b>ENTER</b>&nbsp;DETAILS
				</p>
			</div>

			<div class="panel black-glass pad-sides-15">

				<div class="panel-body text-left">
					<div class="form-group text-left">
						<input type="hidden" name="token" id="token" class="form-control input-md" required>
					</div>
					<div class="form-group text-left">
						<label for="name"> Name </label>
						<input type="text" name="name" id="name" class="form-control input-md" placeholder="Enter Name" required>
					</div>
					<div class="form-group text-left">
						<label for="dob"> Date Of Birth </label>
						<input type="text" id="dob" name="dob" class="form-control input-md" data-date-format="yyyy-mm-dd" placeholder="Date">
					</div>
					<div class="form-group text-left">
						<label for="vaccine"> Vaccination </label>
						<select id="selectbasic" name="vaccination" class="form-control input-md">
							<option value="" selected="true">Select Vaccination</option>
							<option value"Hepatitis B">Hepatitis B</option>
							<option value"DTaP">DTaP</option>
							<option value"Hib">Hib</option>
							<option value"IPV">IPV</option>

						</select>
					</div>
					<br />
					<button  id="register_button" class="btn btn-success btn-block">
						REGISTER
					</button>
				</div>

				<br/>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
	(function() {
		dp = $('#dob').datepicker();
		dp.on('changeDate', function(e) {
			dp.datepicker('hide');
		});

		if (!LS.get_data('data'))
			LS.set_data('data', []);

		$("#register_button").click(function() {
			var uid = (JSON.parse(LS.get_data('data')).length + 1).toString();
			var jsonObj = {
				'id' : uid,
				'name' : $('input[name=name]').val(),
				'dob' : $('input[name=dob]').val(),
				'vaccination' : $("#selectbasic").val()
			};
			//$('body').trigger('write-nfc-data', uid);

			nfcMessage = [ndef.textRecord(uid)];
			writeData();

			var result = JSON.parse(LS.get_data('data'));
			result.push(jsonObj);
			LS.set_data('data', result);
		});

	})(); 
</script>

