html, body {
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
	background: #000;
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.1)), url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header {
	position: absolute;
	top: 0px;
	height: 50px;
	width: 100%;
	background: rgba(0,0,0,0.3);
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: white;
	font-family: 'Lato';
	font-size: 1.30em;
	/*border-bottom: 1px solid red;*/
	text-transform: uppercase;
	letter-spacing: 3px;
}

#header > .container-fluid {
	margin-top: 0px;
}
#center-body {
	position: absolute;
	top: 70px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	text-align: center;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}
.anims {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
}
#bigtextshadow {
	color: orange;
	font-size: 3em;
	text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
	padding: 100px 100px;
}

.card {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.nav-text {
	color: #222;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 1.5em;
	text-transform: uppercase;
	/*text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);*/
}

#fullscreenElement {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	/*	background: url(../img/bg.jpg) no-repeat center top;*/
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
}

#fullscreenElement.open {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	-moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
	opacity: 1;
}

.close {
	position: absolute;
	top: 25px;
	right: 15px;
	opacity: 1;
	padding: 10px 17px;
	z-index: 9999;
	background: rgba(0,0,0,0.3);
}

#fullscreen_stage {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	position: absolute;
	top: 25px;
	left: 1px;
	bottom: 1px;
	right: 1px;
}

.animated {
	-webkit-backface-visibility: hidden;
	/*-webkit-transform-style: preserve-3d;*/
	
	-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	animation-duration: 1s;
	-moz-animation-duration: 1s;
}

/* -------------- PANEL STYLES ----------------- */
.black-glass {
	background: rgba(0,0,0,0.1);
	border: none;
	border-radius: 0px;
	color: white;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}
.white-glass {
	background: rgba(255,255,255,0.1);
	border: none;
	border-radius: 0px;
	color: white;
}

.pad10 {
	padding: 10px;
}
.pad-sides-10 {
	padding: 0px 10px;
}
.pad-overs-10 {
	padding: 10px 0px;
}

.pad15 {
	padding: 15px;
}
.pad-sides-15 {
	padding: 0px 15px;
}
.pad-overs-15 {
	padding: 15px 0px;
}

/* -------------- FORM STYLES ----------------- */
.form-group > label {
	font-family: lato;
	letter-spacing: 2px;
	text-align: left;
	color: white;
}

